!.gitmodules
!.gitignore
*.tags
Scrap
node_modules
package-lock.json
Config/Games/*
!Config/Games/*.ini.example
Config/config.ini
SDKCode/Tex/*
!SDKCode/Tex/*.js
Assets/Pak/*
!Assets/Pak/Compiled
Assets/Tex/*
!Assets/Tex/keep.me
Assets/Pak/Compiled/*
Assets/Songs
!Assets/Songs/keep.me
Assets/FSB
!Assets/FSB/keep.me
!Assets/Pak/Compiled/keep.me
Assets/QB/*
!Assets/QB/keep.me
Assets/Img/*
!Assets/Img/keep.me
Assets/LZSS/*
Assets/GZip/*
SDKCode/QB/*.qb
SDKCode/QB/*.txt
SDKCode/Converter/tmp
SDKCode/Timeliner/song.*
