body {
	background-color: #222;
}

#viewport {
	background-color: #111;
	margin: auto;
	height: 100%;
	position: relative;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

#time_text {
	height: 32px;
	line-height: 32px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	border-top: 1px solid rgba( 255, 255, 255, 0.5 );
	border-right: 1px solid rgba( 255, 255, 255, 0.5 );
	text-align: center;
	position: absolute;
	padding-left: 24px;
	padding-right: 24px;
	left: 0;
	bottom: 0;
	font-family: monospace;
}

#screenshot_text {
	height: 32px;
	line-height: 32px;
	color: white;
	background-color: rgba(0, 0, 0, 0.75);
	border-bottom: 1px solid rgba( 255, 255, 255, 0.5 );
	text-align: center;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	display: none;
	font-family: monospace;
}

#screenshot { width: 100%; height: 100%; }

.top_container {
	width: 100%;
	height: 50%;
	background-color: #555;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.maincontainer {
	background-color: #666;
	position: absolute;
	left: 24px;
	top: 24px;
	right: 24px;
	bottom: 24px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	overflow-y: hidden;
}

/* Container for the actual timeline */
.timeline_container {
	height: 80px;
	width: 100%;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	background-color: #222;
	position: relative;
	overflow: hidden;
}

#timeline_scroller {
	position: absolute;
	left: 16px;
	right: 16px;
	top: 0px;
	bottom: 0px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.bottom_container {
	display: grid;
	grid-template-rows: max-content;
	height: 50%;
}

/* Actual timeline */
#timeline {
	height: 100%;
	width: 3000px;
	overflow: hidden;
	position: relative;
}

#timeline_line {
	height: 2px;
	background-color: #666;
	width: 100%;
	top: 50%;
	position: relative;
}

.bottom_split {
	background-color: #111;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: max-content;
}

#timeline_scrubber { position: relative; }

/* --------------------------------------------------- */

#cameralist_container {
	width: 256px;
	height: 100%;
	background-color: #555;
	position: relative;
	overflow-y: hidden;
}

#cameralist {
	position: absolute;
	left: 8px;
	right: 8px;
	top: 8px;
	bottom: 8px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.camitem_container, .camitem_container_active {
	width: 95%;
	height: 28px;
	line-height: 28px;
	margin-top: 4px;
	margin-bottom: 4px;
	background-color: #222;
	color: white;
	text-align: center;
}

.camitem_container { background-color: #222; }
.camitem_container:hover { 
	background-color: #333; 
	cursor: pointer;
}

.camitem_container_active { background-color: #772; }
.camitem_container_active:hover { 
	background-color: #883; 
	cursor: pointer;
}

/* --------------------------------------------------- */

#action_container {
	width: 48px;
	height: 100%;
	background-color: #333;
	grid-column: 2;
}

.actionButton {
	width: 40px;
	height: 40px;
	margin: auto;
	margin-top: 4px;
	background-color: #111;
	border-left: 1px solid #888;
	border-top: 1px solid #888;
	border-right: 1px solid #555;
	border-bottom: 1px solid #555;
}

.actionButton:hover {
	background-color: #222;
	cursor: pointer;
}

.actionButtonImage {
	position: relative;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
}

/* --------------------------------------------------- */

.marker, .marker_active {
	width: 8px;
	height: 16px;
	position: absolute;
	top: 4px;
	border-radius: 4px;
}

.marker:hover, .marker_active:hover { cursor: ew-resize; }

.marker { background-color: #0f0; }
.marker:hover { background-color: #6f6; }

.marker_active { background-color: #ff0; box-shadow: 0px 0px 6px #ff0; }
.marker_active:hover { background-color: #ff6;  box-shadow: 0px 0px 6px #ff6; }

.marker_tick {
	position: relative;
	height: 44px;
	top: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	width: 2px;
}
