<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ConfigVersion" value="3" />
        <add key="InputFormat" value="PC (wpc)" />
        <add key="PakFilename" value="D:\csave\THPS_MOD_DEV\TOOLS\QueenBee1.9\ORIGINALGROUNDTRICKS\qb.pak.wpc" />
        <add key="PabFilename" value="D:\csave\THPS_MOD_DEV\TOOLS\QueenBee1.9\ORIGINALGROUNDTRICKS\qb.pab.wpc" />
        <add key="DebugFilename" value="" />
        <add key="Backup" value="False" />
        <add key="LastQbReplacePath" value="C:\Users\jp\Desktop\levelselect-want" />
        <add key="LastQbExtractPath" value="D:\csave\THPS_MOD_DEV\TOOLS\QueenBee1.9\dev" />
        <add key="LastScriptPath" value="D:\csave\THPS_MOD_DEV\TOOLS\QueenBee1.9" />
        <add key="LastArrayPath" value="D:\csave\THPS_MOD_DEV\TOOLS\QueenBee1.9" />
        <add key="ScriptActiveTab" value="0" />
        <add key="PakListColPositions" value="0,1,2,3,4" />
        <add key="PakListColWidths" value="281,291,113,70,60" />
        <add key="PakListSort" value="1,1" />
        <add key="SearchListColPositions" value="0,1,2,3" />
        <add key="SearchListColWidths" value="184,344,103,112" />
        <add key="SearchListSort" value="0,1" />
        <add key="QbListColPositions" value="0,1,2,3,4,5" />
        <add key="QbListColWidths" value="220,121,112,113,49,94" />
        <add key="WindowInfo" value="651,-24,1013,527,2" />
        <add key="PakSplitterPosition" value="49,26778" />
        <add key="SearchSplitterPosition" value="37,76151" />
        <add key="QbSplitterPosition" value="60,87866" />
        <add key="AllowedScriptStringChars" value="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ01234567890\/?!&quot;£$%^&amp;*()-+{}[]'#@~?&gt;&lt;,. =®©_" />
    </appSettings>
</configuration>